*{
    padding: 0px;
    margin: 0px;
    font-family: tahoma;
    color: #FAEF19;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    background-color:#222417;
    background-image: url(../images/bg02.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    background-color: #3E608C;
    border-radius: 5px;
}
figure{
    height: 70px;
    width: 70px;
}
figure img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
nav{
    background-color: rgba(1, 1, 1, 0.5);
    width: 80%;
    margin: auto;
    left: 120px;
    position: fixed;
    border-radius: 10px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
nav ul li{
    font-size: 20px;
}
nav ul li:hover{
    transform: scale(1.2);
    background-color:#3c3f29;
    color: #fa5757;
}
section{
    height: 500px;
    width: 90%;
    margin: auto;
    background-color: #F2A30F;
    border: #222417 2px solid;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: -1px 10px 60px 10px;
    animation: colorido 6s infinite;
}
section p{
    margin: 10px auto;
    font-size: 20px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    background-color: #3E608C;
    border-radius: 5px;}
    section#one{
        background-image: url(../images/cat-g8f9f97284_640.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    section#two{
        background-image: url(../images/deer-g6d5191fde_640.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    section#three{
        background-image: url(../images/dolphin-gaa1449cbd_640.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    section#four{
        background-image: url(../images/ostrich-gc674569e7_640.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    @keyframes colorido{
        25%{
            border:solid 5px rgb(4, 206, 4);
        }
        50%{
            border:solid 5px rgba(48, 0, 238, 0.844);
        }
        75%{
            border:solid 5px rgb(222, 0, 0);
        }
        100%{
            border:solid 5px yellow;
        }

    }